.card-body {
  /* flex: 1;
  min-width: 200px;
  max-width: 250px; */
  margin: 10px;
  text-decoration: none;
  background-color: rgb(194, 194, 194);
  color: black;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

.card-fig {
  display: block;
  margin-bottom: 16px;
  overflow: hidden;
}

.card-image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  transition: transform .3s ease;
}
div.anime-cont:hover{
  background-color: rgb(44, 0, 114);
  color: white;
  box-shadow: 0px 8px 15px rgb(22, 0, 58);
}
.card-body:hover .card-image {
  transform: scale(1.05); 
}

.anime-details {
  padding: 8px;
  font-size: 12px;
}

.card-title {
  margin-bottom: 5%;
  text-align: center;
  font-size: small;
}
