.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modalContainer {
  min-width: 850px;
  max-width: 1200px;
  min-height: 500px;
  width: 70%;
  border-radius: 3px;
  background-color: rgb(248, 248, 248);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: relative;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}
.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.titleCloseBtn button:hover {
  color: red;
}

/* body of modal below */
.modalContainer .body {
  display: flex;
  gap: 5px;
  font-size: 11px;
}

.left-body {
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(255, 192, 203, 0.616);
}
.modal-img-container {
  display: block;
  height: 300px;
}
.modal-img-container img {
  height: 100%;
  object-fit: cover;
}
.action-btn {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  border-radius: 3px;
  width: 100%;
  background-color: rgb(137, 137, 255);
  margin: 5px auto;
  padding: 6px;
}
.action-btn:hover {
  background-color: rgb(154, 154, 255);
}
.info-container a {
  color: rgb(42, 42, 255);
  text-decoration: none;
}
.info-container a:hover {
  text-decoration: underline;
}

.right-body {
  width: 100%;
  padding: 10px;
  padding-bottom: 50px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(173, 216, 230, 0.527);
  overflow-y: auto;
  overflow-x: hidden;
}
.right-body iframe {
  width: 450px;
  height: 210px;
  margin: 2px auto;
  border: none;
}

.show-synopsis {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 3px 0;
  font-size: 11px;
}
