.card-body {
  /* flex: 1;
  min-width: 200px;
  max-width: 250px; */
  margin: 10px;
  text-decoration: none;
  background-color: rgb(194, 194, 194);
  color: black;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  position: relative;

}

.card-fig {
  display: block;
  overflow: hidden;
}

.card-image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  transition: transform .3s ease;
}
div.anime-cont:hover{
  background-color: rgb(44, 0, 114);
  color: whitesmoke;
  box-shadow: 0px 8px 15px rgb(22, 0, 58);
}
.card-body:hover .card-image {
  transform: scale(1.05); 
}

.anime-details {
  padding: 12px 10px;
  font-size: 12px;
}
.card-title {
  margin-bottom: 8px;
  padding: 5px;
  text-align: center;
  font-size: small;
}

.anime-card-btn {
  padding: 5px;
  padding-bottom: 27px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 2px;
  font-size: 1rem;
  background-color: rgb(231, 229, 229);
  color: #404041;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}
.anime-card-btn:hover {
  background-color: #68b5d3;
  color: whitesmoke;
}

.card-body:hover .anime-card-btn {
  opacity: 1;
}

@media only screen and (max-width: 993px) {
  .anime-card-btn {
    opacity: 1;
  }
}
