.card-body {
  margin: 10px;
  text-decoration: none;
  background-color: rgb(194, 194, 194);
  color: black;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.card-fig {
  display: block;
  overflow: hidden;
}

.card-image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  transition: transform .3s ease;
}
div.anime-cont:hover{
  background-color: rgb(44, 0, 114);
  color: whitesmoke;
  box-shadow: 0px 8px 15px rgb(22, 0, 58);
}
.card-body:hover .card-image {
  transform: scale(1.05); 
}

.anime-details {
  padding: 14px 15px;
  padding-top: 8px;
  font-size: 12px;
}
.card-title {
  margin-bottom: 8px;
  padding: 5px;
  text-align: center;
  font-size: small;
}

.anime-card-btn {
  padding: 5px;
  padding-bottom: 27px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 2px;
  font-size: 1rem;
  background-color: rgb(231, 229, 229);
  color: #404041;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}
.anime-card-btn:hover {
  background-color: var(--main-orange);
  color: whitesmoke;
}
.orange-hover:hover {
  background-color: var(--main-blue);
}

.card-body:hover .anime-card-btn {
  opacity: 1;
}

@media only screen and (max-width: 993px) {
  .anime-card-btn {
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
  .card-body {
    margin: 7px 5px;
  }
  .card-fig {
    height: 240px;
  }
  .card-image {
    height: 100%;
  }
  div.anime-cont:hover{
    background-color: rgb(194, 194, 194);
    color: inherit;
    box-shadow: none;
  }
  .anime-details {
    padding: 10px 8px;
    padding-top: 8px;
    font-size: 10px;
  }
  .anime-details p {
    margin-bottom: 2px;
  }
  .card-title {
    margin-bottom: 3px;
    padding: 3px;
    font-size: 12px;
  }
  .anime-card-btn {
    padding: 0px;
    padding-bottom: 2px;
    width: 25px;
    height: 25px;
    font-size: 13px;
  }
  .anime-card-btn {
    background-color: var(--main-orange);
    color: whitesmoke;
  }
  .orange-hover {
    background-color: var(--main-blue);
  }
}
