footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-top: 3px solid var(--dark-accent);
  max-width: 1250px;
  height: 85px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

footer a {
  color: inherit;
}

@media only screen and (max-width: 768px) {
  footer {
    width: 90%;
    font-size: 15px;
    border-top: 2px solid var(--dark-accent);
  }
}

@media only screen and (max-width: 480px){
  footer {
    padding: 15px;
    height: 85px;
    gap: 7px;
    font-size: 12px;
    width: 90%;
  }
}
