footer {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-top: 3px solid #404041;
  max-width: 1250px;
  height: 85px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

footer a {
  color: inherit;
}
