main {
  max-width: 1200px;
  min-width: 350px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 14px;
  padding-top: 80px;
}
.card-main {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 12px;
  margin-bottom: 8px;
}
.home {
  margin: 30px;
}


.home-img-container {
  display: block;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 20px auto;
  box-shadow: 0 -3px 7px rgba(117, 117, 117, 0.685);
  cursor: pointer;
}
.home .home-img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  object-position: center;
  transition: transform .5s ease;
}
.home .home-img:hover {
  transform: scale(1.05); 
}

form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.search-box input {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 5px;
  height: 40px;
  font-size: 18px;
  outline: none;
  color: var(--dark-accent);
}
#home-search-btn {
  padding: 0 20px;
  margin: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--main-orange);
}
#home-search-btn:hover {
  background-color: var(--main-orange-hover);
}


main button {
  border: none;
  border-radius: 4px;
  color: whitesmoke;
  background-color: var(--home-btns);
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  padding: 3px 9px;
  margin: 5px;
}
main button:hover {
  background-color: var(--home-btns-hover);
}
/* within SearchBtns.js */
details {
  margin: 10px 0;
  padding: 0 7px;
}
details[open] summary {
  border-bottom: 1px solid #aaa;
  padding-bottom: 7px;
  margin-bottom: 5px;
}

#result-anchor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* within PageChangeBtn.js */
.pagination-adjustors {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
}
.pagination-adjustors button {
  padding: 4px 8px;
  background-color: var(--main-orange);
}
.pagination-adjustors button:hover {
  background-color: var(--main-orange-hover);
}
.pagination-adjustors input {
  width: 45px;
  height: 25px;
  text-align: center;
}
.flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 6px auto;
}


/* removes input number type arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
