*{
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body{
  min-height: 100vh;
  background-color: rgb(214, 214, 214);
}

:root {
  --dark-accent: #404041;
  --dark-accent-hover: #606063;
  --main-orange: #eb7c21;
  --main-orange-hover: #eb7c21ad;
  --main-blue: #049696;
  --main-blue-hover: #049696ad;
  --home-btns: #049696;
  --home-btns-hover: #049696ad;
}
/* rgb(71, 71, 255)
#f77d19 
very dark : #0f0f0f



*/

