.search-buttons button {
  padding: 3px;
  margin: 5px;
}

details {
  margin: 10px 0;
  padding: 0 7px;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  padding-bottom: 7px;
  margin-bottom: 5px;
}
